.header {
  text-align: center;
}

.moviesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

h2 {
  text-align: center;
}

.movie {
  border: 1px solid;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteBtn {
  cursor: pointer;
}

.movieForm {
  margin: 2rem auto;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.movieForm input {
  padding: 0.5rem 1rem 0.5rem 0;
  text-indent: 1rem;
  margin-bottom: 1rem;
}


.btnForm {
  border: 1px solid #000;
  background-color: #000;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  color: #fff;
}

.btnForm:disabled {
  background-color: #ddd;
  cursor: default;
  border: 1px solid #ddd;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

a.title {
  border: 1px solid #000;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

a.active {
  background-color: #000;
  color: #fff;
}

.buttons {
  display: flex;
  gap: 10px;
}

.search {
  margin: 2rem auto;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.search input {
  padding: 0.5rem 1rem 0.5rem 0;
  text-indent: 0.5rem;
  margin-bottom: 1rem;
}