.users {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.users .user {
  border: 1px solid #000;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}